<ion-view view-title="home" data-ng-controller="CadastroController as vmCadastroController">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input item-stacked-label">
            <span class="input-label">Nome</span>
            <input type="text" placeholder="Insira seu nome" 
              data-ng-model="vmCadastroController.cliente.Nome">
          </label>
            <label class="item item-input item-stacked-label">
            <span class="input-label">Telefone</span>
            <input type="number" placeholder="Insira seu telefone"
              data-ng-model="vmCadastroController.cliente.Telefone">
          </label>
            <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="email" placeholder="insira seu e-mail"
              data-ng-model="vmCadastroController.cliente.Email">
          </label>
            <div>
                <ul class="list">
                    <li class="item item-toggle">
                        Deseja receber notificações
                        <label class="toggle toggle-positive">
                  <input type="checkbox" checked="checked"
                    data-ng-model="vmCadastroController.cliente.Notificacao">
                  <div class="track">
                    <div class="handle"></div>
                  </div>
                </label>
                    </li>
                </ul>
            </div>
            <br>
            <div>
                <button class="button icon-left ion-camera button-positive" data-ng-click="vmCadastroController.clickCamera()">
              Adicione aqui uma foto
            </button>
                <br>
                <img id="resultadoCamera" src="" alt="" width="100%" data-ng-model="vmCadastroController.cliente.Imagem">
            </div>
            <br>
            <div>
                <button class="button icon-left ion-location button-positive" data-ng-click="vmCadastroController.clickLocalizacao()">
              Informe aqui sua localização
            </button>
                <input type="text" hidden="hidden" id="resultadoLocalizacaoLatitude" data-ng-model="vmCadastroController.cliente.localizacao.Latitude">
                <input type="text" hidden="hidden" id="resultadoLocalizacaoLongitude" data-ng-model="vmCadastroController.cliente.localizacao.Longitude">
                <div id="resuladoLocalizacao" style="width: 100%; height: 100px"></div>
            </div>
            <div>
                <button type="button" class="button button-block button-positive" data-ng-click="vmCadastroController.clickCadastrar(vmCadastroController.cliente)">
              Enviar Cadastro
            </button>
            </div>
        </div>
        <br>
        <br>
    </ion-content>
</ion-view>